API_ID=12345
API_HASH=abc123
BOT_TOKEN=123:abc
SUDO_USERS=123 356 789
REPLY_MESSAGE=No PMs
SESSION_STRING=session
SUPPORT_GROUP=AnimeSubbingTeam07
UPDATES_CHANNEL=AnimeSubbingTeam07
ASSISTANT_NAME=MyVideoPlayer
